.code {
  font-family: Consolas, Lucida Console, monospace;
  font-size: 1.2rem;
  color: #000;
}

/* Foreign-key sections */
%fk {
  padding: 0 0 20px 0;
  margin: 0;
  color: #222;
}

.fk-1 {
  @extend %fk;
  background: #f19f0f;
}

.fk-2 {
  @extend %fk;
  background: #cd4436;
}

.fk-3 {
  @extend %fk;
  background: #1d89cf;
}

.fk-4 {
  @extend %fk;
  background: #857198;
}

.fk-5 {
  @extend %fk;
  background: #A5C6C9;
}

/* Section Margin */
.sm {
  margin-top: $section-margin;
}

/* Region Marker */
.region {
  @extend .code;
  padding-left: 10px;
}

.provider img {
  vertical-align: bottom;
}

/* Panel header tag */
.panel h5 {
  float: right;
  margin: 0;
}

.el {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
