{% extends 'HyperionApiBundle::hyperion.html.twig' %}

{% block body %}
    {% block fos_user_content %}
        <div class='container'>
            {% if error %}
                <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <br><br>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">Username</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <br><br>

                <label for="password">Password</label>
                <input type="password" id="password" name="_password" required="required" />

                <br><br>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Remember me</label>

                <br><br>

                <input type="submit" id="_submit" name="_submit" value="Login" />
            </form>
        </div>
    {% endblock fos_user_content %}
{% endblock %}