{% extends '::admin.html.twig' %}
{% import '::macros/admin.html.twig' as admin %}
{% block body %}
    <div class="container">
        {{ admin.breadcrumb(project.name  ? : 'New Project', project.account) }}
        <h2>{{ project.name ? : 'New Project' }}</h2>
        <p>{{ admin.bakeStatusLabel(project.bakeStatus) }}</p>

        {{ form(form) }}
    </div>
{% endblock %}