<div class="output-code">
    {% set lines = output|split("\n") %}
    {%- for line in lines -%}
        {% set prefix = line|slice(0, 1) -%}
        {%- if (prefix == '?') -%}
            <div class="line line-info">{{ parser.parse(line|slice(2))|raw }}</div>
        {%- elseif (prefix == '*') -%}
            <div class="line line-error">{{ parser.parse(line|slice(2))|raw }}</div>
        {%- else -%}
            <div class="line line-default">{{ parser.parse(line|slice(2))|raw }}</div>
        {%- endif -%}
    {%- endfor -%}
</div>